[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
torch = "*"
torchvision = "*"
fastai = "*"
fastcore = "*"
tqdm = "*"
pillow = "*"
dvc = {version = "*", extras = ["s3"]}
fastapi = {extras = ["all"], version = "*"}
python-box = "*"
dvclive = "*"
ujson = "*"
uvicorn = "*"
wrapt = "*"

[dev-packages]
ipykernel = "*"
autopep8 = "*"
pylint = "*"
bandit = "*"
ipywidgets = "*"
notebook = "*"

[requires]
python_version = "3"
